.user-profile
  .user-info-wrapper.clearfix
    = render :partial => "shared/head_with_link", :locals => {:user => @user}
    %span
      = @user.display_name
      %a{:href => weibo_url(@user.sina_id)}访问该用户的新浪微博
  .separator
  %h3 TA参加过的活动：
  - @activities.each do |activity|
    %ul.user-activity
      %li.activity
        = activity.created_at.localtime.strftime("%Y年%m月%d日")
        = render :partial => "#{folder_name activity.class}/activity_summary", :locals => {:activity => activity}
