.login_container
  = link_to "立即注册", new_user_path, :class => "button register"
  = form_for @user do |f|
    = f.text_field :email, :class => "login-name", :placeholder => "name@email.com"
    = f.password_field :password, :class => "password", :placeholder => "password"
    = f.submit "登陆", :class => "large white button login"