.demo
  #tabs
    %ul
      %li
        %a{:href => "#tabs-1"} 个人信息
      %li
        %a{:href => "#tabs-2"} 社交网络集成
      %li
        %a{:href => "#tabs-3"} 头像设置
    #tabs-1
      - if flash[:notice]
        #notice
          = flash[:notice]
      = form_for @user, :method => "put" do |f|
        .user-info-wrapper
          .error
            =@user.errors[:display_name].first if @user.errors[:display_name].present?
          = f.label :display_name, "显示名"
          = f.text_field :display_name, :class => "login-name", :placeholder => "your name"
          = f.label :email, "邮箱"
          = f.text_field :email, :class => "login-name", :placeholder => "name@email.com", :disabled => true
          .error
            =@user.errors[:password].first if @user.errors[:password].present?
          = f.label :password, "密码"
          = f.password_field :password, :class => "password", :placeholder => "password"
          = f.label :password_confirmation, "确认密码"
          = f.password_field :password_confirmation, :class => "password", :placeholder => "repeat the password"
          = f.submit "更新信息", :class => "button update"
    #tabs-2
    #tabs-3
