.demo
  #tabs
    %ul
      %li
        %a{:href => "#tabs-1"} 个人信息
      %li
        %a{:href => "#tabs-2"} 社交网络集成
      %li
        %a{:href => "#tabs-3"} 头像设置
    #tabs-1
      - if flash[:notice]
        #notice
          = flash[:notice]
      = form_for @user, :method => "put" do |f|
        .user-info-wrapper
          .error
            =@user.errors[:display_name].first if @user.errors[:display_name].present?
          = f.label :display_name, "显示名"
          = f.text_field :display_name, :class => "login-name", :placeholder => "your name"
          = f.label :email, "邮箱"
          = f.text_field :email, :class => "login-name", :placeholder => "name@email.com", :disabled => true
          .error
            =@user.errors[:password].first if @user.errors[:password].present?
          = f.label :password, "密码"
          = f.password_field :password, :class => "password", :placeholder => "password"
          = f.label :password_confirmation, "确认密码"
          = f.password_field :password_confirmation, :class => "password", :placeholder => "repeat the password"
          = f.submit "更新信息", :class => "button update"
    #tabs-2
      %p Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
    #tabs-3
      %p Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
      %p Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
.demo-description{:style => "display: none; "}
  %p Click tabs to swap between content that is broken into logical sections.