.show-container
  .left
    .story-content
      %h3.story-title
        %img.head_logo_show{:src => @story.user.head}
        = @story.title
      %ul.story_and_follow
        %li.story-start
          = @story.content
        - @story.adopted_follows.each do |follow|
          %li.follow.clearfix
            .head_logo_show_wrapper
              %img.head_logo_show{:src => follow.user.head}
            .follow-content
              = follow.content
      - if logged_in
        = form_for([@story, @story.follows.build], :remote => true, :disable_with => "submitting...") do |f|
          .clearfix
            = f.text_area 'content', :class => 'add-content'
            = f.submit '提交续写', :class => 'submit-content'
      - else
        .prompt
          请点击右上角使用微博登陆后就可以续写故事了
  .right
    .story-added
      %h3.chapter-title 所有本章节续写
      %ul
        - @story.current_follows.each do |follow|
          %li.vote_wrap.clearfix
            .head_logo_show_wrapper
              %img.head_logo_show_follow{:src => follow.user.head}
            .unadopted-follow
              %p.follow-content
                = follow.content
            - if logged_in
              %div
                %a{:href => "#", :onclick => "showCommentsBox(#{@story.id}, #{follow.id})"} 评论
                %span 投票
                %span.vote{:id => "vote_for_follow_#{follow.id}", :onclick => "addVote(#{@story.id}, #{follow.id})"}
                  %span= follow.votes.size