<div class="container">
    <div class="left">
        <div class="story-content">
            <h3 class="story-title">
                <img class='head_logo_show' src='<%= @story.user.head %>/50'></img>
                <%= @story.title%>
            </h3>
            <ul class='story_and_follow'>
                <li>
                    <%= @story.content %>
                </li>
                <% @story.adopted_follows.each do |follows|%>
                    <li>
                        <p><%= follows.content%></p>
                    </li>
                <% end %>
            </ul>
            <div class="social"></div>
            <%= form_for([@story, @story.follows.build], :remote => true, :disable_with => "submitting...") do |f| %>
                <%= f.text_area 'content', :class => 'add-content' %>
                <%= f.submit '提交续写', :class => 'submit-content' %>
            <% end %>
        </div>

    </div>

    <div class="right">
        <div class="story-added">
            <h3 class="chapter-title">所有本章节续写</h3>
            <ul class='story_and_follow'>
                <% @story.current_follows.each do |follow|%>
                    <li class="vote_wrap">
                        <p>
                            <img class='head_logo_show_follow' src='<%= follow.user.head %>/50'></img>
                            <%= follow.content%>
                        </p>
                        <div>
                            <a href="#" onclick="showCommentsBox(<%= follow.id %>)">评论</a>
                            <span>投票</span>
                            <span class="vote">
                            <input type="hidden" value="<%= follow.id%>" />
                            <span><%= follow.votes.size%></span>
                        </span></div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>