- follow = @follow
%li.vote_wrap
  %p
    = render :partial => "shared/head_with_link", :locals => {:user => follow.user}
    = follow.content
  %div
    %a{:href => "#", :onclick => "showCommentsBox(#{@story.id}, #{follow.id})"} 评论
    %span 投票
    %span.vote{:id => "vote_for_follow_#{follow.id}", :onclick => "addVote(#{@story.id}, #{follow.id})"}
      %span= follow.votes.size