<!DOCTYPE html>
<html>
<head>
  <title>TellStory</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <link href="/assets/application.css" rel="stylesheet">
  <meta property="qc:admins" content="205023664725154115245460527351006375" />
</head>
<body>
<div class="head">

	<div class='profile_place_holder'>
	<% if logged_in%>
		<div class="greeting">欢迎你<br/>
		<%= user_name%></div>
	<% else %>
		<a href="/oauth">
			<%= image_tag("/images/Connect_logo.png", :class => "login_button")%>
		</a>
	<% end %>
</div>
</div>
<%= render 'layouts/navigation'%>
<%= yield %>

</body>
</html>
