!!!
%html
  %head
    %title TellStory
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:charset => "UTF-8"}
    %meta{:content => "205023664725154115245460527351006375", :property => "qc:admins"}/
    %meta{:property => "wb:webmaster", :content => "e62ce322eb41581f"}/
  %body
    .navbar-fixed-top.navbar
      .navbar-inner
        .container
          %ul.nav
            - if logged_in
              %li
                %a
                  = image_tag session[:user].head, :width => 25, :height =>25
                = user_name
              %li
                = link_to "登出", sign_out_path
            - else
              %li
                %a{:onclick => "gotoLinkWithCurrentPageURL(\"#{sina_login_url}\")", :href => "#"}
                  使用微博账号登陆
    .container.content
      .row.show-grid
        .span12.head
          %a.back-to-home{:href => root_path}
            = image_tag("/assets/logo.png", :class => "logo")
      = yield