!!!
%html
  %head
    %title TellStory
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:charset => "UTF-8"}
    %meta{:content => "205023664725154115245460527351006375", :property => "qc:admins"}/
  %body
    .content
      .head
        %a.back-to-home{:href => "http://stormy-day-2454.herokuapp.com/"}
          = image_tag("/assets/logo.png", :class => "logo")
        .profile_place_holder
          - if logged_in
            .greeting
              欢迎你
              %br/
              = user_name
          - else
            %a{:href => "/oauth"}
              = image_tag("/images/Connect_logo.png", :class => "login_button")
      .main-content.clearfix
        = yield