!!!
%html
  %head
    %title TellStory
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:charset => "UTF-8"}
    %meta{:content => "205023664725154115245460527351006375", :property => "qc:admins"}/
  %body
    .head
      .profile_place_holder
        - if logged_in
          .greeting
            欢迎你
            %br/
            = user_name
        - else
          %a{:href => "/oauth"}
            = image_tag("/images/Connect_logo.png", :class => "login_button")
    = render 'layouts/navigation'
    = yield